<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auteur des Super-Héros</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <!-- Barre de navigation -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="super.html">Super Héros</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
        
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="super.html">Listes des Super Heros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="détail.html">Détail d'un Super Heros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="superMatch.html">SuperPower Matcher</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="auteur.html">Auteur</a>
              </li>
            </ul>
          </div>
        </div>
  </header>

  <!-- Application Vue.js -->
  <div id="app" class="container mt-4">
    <h1 class="text-center">Biographies des Super-héros</h1>

    

    <!-- Liste des super-héros et leurs biographies -->
    <div v-if="superherosLoaded" class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" v-for="hero in superheros" :key="hero.id">
        <div class="card h-100">
          <img :src="hero.images.sm" class="card-img-top" alt="Image du superhéros">
          <div class="card-body">
            <h5 class="card-title">{{ hero.name }}</h5>
            <p class="card-text">
              <strong>Biographie :</strong><br>
              {{ hero.biography['fullName'] ? hero.biography['fullName'] : 'Aucune biographie disponible'}}
            </p>
            <p v-if="!hero.biography['fullName']" class="text-muted">Aucune biographie disponible.</p>
          </div>
        </div>
      </div>
    </div>
    <p v-else class="text-center">Chargement des super-héros...</p>
  </div>

  <script src="auteur.js"></script>
</body>
</html>
